.toggleContainer {
  grid-column: span 2;
  display: flex;
  justify-content: end;
  gap: 12px;
}

.toggleLabel {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  font-family: "Poppins", sans-serif;
  align-self: center;
}
